:root {
    font-size: 62.5%;
}
* { margin: 0; padding: 0; }
body {background-color: rgb(30, 30, 30);}
a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* BANNER BOX */

#banner-box {
    height: 49,1rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    box-sizing: content-box;
    /* flexbox */
    display: flex;
    flex-direction: column;
}

#title {
    background-color: white;
    cursor: pointer;
    color: darkslategrey;
    font-size: 8rem;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    height: var(--top-box-height);
    text-align: center;
}
#title:hover {
    background-color: darkslategrey;
    color: white;
}

#audio-player{
    background: darkslategrey;
    height: var(--player-height);
    overflow: hidden;
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* make text unselectable */
    -webkit-user-select: none; /* webkit (safari, chrome)*/
    -moz-user-select: none; /* mozilla*/
    -khtml-user-select: none; /* webkit (konqueror) */
    -ms-user-select: none; /* IE10+ */
}

#play-btn, #volume-btn{
    box-sizing: border-box;
    padding:1rem;
    width: 4rem;
}
#play-btn {
    content: url(./ressources/icons/play.png);
    padding-left: 1.2rem;
    padding-right: .8rem;
}
#play-btn.paused {
    content: url(./ressources/icons/pause.png);
    padding-left: 1rem;
    padding-right: 1rem;
}
#play-btn:hover {
    background-color: rgba(100%,100%,100%,.2);
}

#volume-btn {
    content: url(./ressources/icons/audio.png);
}
#volume-btn.muted {
    content: url(./ressources/icons/audio-muted.png);
}
#volume-btn:hover {
    background-color: rgba(100%,100%,100%,.2);
}

#time-passed, #total-time {
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 200;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 3rem;
}
#time-passed {
    text-align: center;
}
#total-time {
    text-align: center;
}

#timeline {
    background-color: rgb(27,59,59);
    height: 1rem;
    overflow: hidden;
    /* make the clickable zone bigger */
    background-clip: content-box;
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* flexbox */
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#progressbar{
    background-color: teal;
    height: 1rem;
    margin-right: -.5rem;
    width: 0%;
}
#timeline:hover > #progressbar{
    background-color: lightseagreen;
}
#playhead{
    display:none;
    background-color: white;
    /* border-radius: 100rem; */
    height: 1rem;
    width: 1rem;
}
#timeline:hover > #playhead, #playhead.dragging{
    display: block;
}

/* SONG */

.song {
    padding: 1rem;
    margin: 3rem;
    outline: solid white .5rem;
}
.cover-box {
    position: relative;
    width: 100%;
    text-align: center;
}
.cover-box:hover {
    cursor: pointer;
}

.artwork {
    height: auto;
    width:100%;
}
.cover-box:hover > .artwork {
    filter: brightness(45%);
}

.control-icon {
    background-size: contain;
    display: none;
    --h: 4rem;
    --pad: 1rem;
    height: var(--h);
    width: var(--h);
    padding: var(--pad);
    /* center relative to cover-box */
    position: absolute;
    --offset: calc(50% - (var(--h) + var(--pad))/2);
    top: var(--offset);
    left: var(--offset);
}
.cover-box:hover > .control-icon {
    display: block;
    content: url(./ressources/icons/play.png);
}
.song.playing > .cover-box:not(:hover) > .control-icon {
    display: block;
    content: url(./ressources/icons/audio.png);
    background-color: rgba(0,0,0,.5);
    border-radius:50%;
}
.song.playing > .cover-box:hover > .control-icon {
    display: block;
    content: url(./ressources/icons/pause.png);
}
.cover-box:active > .control-icon {
    filter: brightness(60%);
}

.desc-box {
    padding-top: 1rem;
}

.duration, .date {
    color: white;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 200;
}
.date {
    float: left;
    width: 50%;
}
.duration {
    float: right;
    width: 50%;
    text-align: right;
}

.name {
    clear: both;
    color: white;
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0rem;
    padding-left: 1rem;
    width: 100%;
}

/* FONTS */

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
