:root {
    font-size: 62.5%;
    --top-box-height: 12rem;
    --player-height: 4rem;
    --banner-box-border-size: 1rem;
}
* { margin: 0; padding: 0; }
body { background-color: rgb(30, 30, 30);}

/* ###################################################################### */
/* Banner box */

#banner-box {
    border: solid darkslategrey var(--banner-box-border-size);
    border-bottom: 0rem;
    position: fixed;
    top: 4rem;
    left: 2rem;
    z-index:1;
    height : calc(var(--top-box-height) + var(--player-height));
    /* flexbox */
    display: flex;
    flex-direction: row;
}

/* title */

#title {
    background-color: white;
    cursor: pointer;
    color: darkslategrey;
    font-size: 8rem;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    height: var(--top-box-height);
}
#title:hover {
    background-color: darkslategrey;
    color: white;
}

/* audio player */

#audio-player{
    background: darkslategrey;
    height: var(--player-height);
    overflow: hidden;
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* make text unselectable */
    -webkit-user-select: none; /* webkit (safari, chrome)*/
    -moz-user-select: none; /* mozilla*/
    -khtml-user-select: none; /* webkit (konqueror) */
    -ms-user-select: none; /* IE10+ */
}

#play-btn, #volume-btn{
    box-sizing: border-box;
    padding:1rem;
    width: 4rem;
}
#play-btn {
    content: url(./ressources/icons/play.png);
    padding-left: 1.2rem;
    padding-right: .8rem;
}
#play-btn.paused {
    content: url(./ressources/icons/pause.png);
    padding-left: 1rem;
    padding-right: 1rem;
}
#play-btn:hover {
    background-color: rgba(100%,100%,100%,.2);
}

#volume-btn {
    content: url(./ressources/icons/audio.png);
}
#play-btn:hover {
    background-color: rgba(100%,100%,100%,.2);
}

#time-passed, #total-time {
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 200;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 3rem;
}
#time-passed {
    text-align: center;
}
#total-time {
    text-align: center;
}

#timeline {
    background-color: rgb(27,59,59);
    height: 1rem;
    overflow: hidden;
    /* make the clickable zone bigger */
    background-clip: content-box;
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* flexbox */
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#progressbar{
    background-color: teal;
    height: 1rem;
    margin-right: -.5rem;
    width: 0%;
}
#timeline:hover > #progressbar{
    background-color: lightseagreen;
}
#playhead{
    display:none;
    background-color: white;
    /* border-radius: 100rem; */
    height: 1rem;
    width: 1rem;
}
#timeline:hover > #playhead, #playhead.dragging{
    display: block;
}

/* overview */

#overview-box {
    height: calc(var(--top-box-height) + var(--player-height));
    width: calc(var(--top-box-height) + var(--player-height));
    position: relative;
    /* border */
    border: solid darkslategrey var(--banner-box-border-size);
    border-top: 0rem;
    border-right: 0rem;
    box-sizing: border-box;
    /* background */
    background-image: url(./ressources/artwork/80s.png);
    background-size: contain;
}
#overview-name-box{
    background-color: rgba(0,0,0,.7);
    height: calc(var(--player-height) - var(--banner-box-border-size));
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    /* position box */
    position: absolute;
    bottom: 0rem;
    right: 0;
    /* position text at the center */
    display:flex;
    align-items: center;
}
#overview-name{
    color: white;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 400;
    /* clip large text with '...' */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#overview-name:hover, #overview-name-box:hover > #overview-name {
    background: white;
    color: black;
    /* show whole text */
    text-align: left;
    overflow:visible;
    text-overflow: clip;
}

/* ###################################################################### */
/* Song list */

#song-list {
    margin-top: 25rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    padding-left: 1em;
    padding-right: 1em;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song {
    margin-bottom: 2rem;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5rem .5rem 0rem .5rem;
    width: 20rem;
    position: relative;
}
.song.active {
    outline: solid white;
}

.cover-box {
    position: relative;
    height: 20rem;
    width: 20rem;
    text-align: center;
}
.cover-box:hover {
    cursor: pointer;
}

.artwork {
    height: auto;
    width:100%;
}
.cover-box:hover > .artwork {
    filter: brightness(45%);
}

.control-icon {
    background-size: contain;
    display: none;
    --h: 4rem;
    --pad: 1rem;
    height: var(--h);
    width: var(--h);
    padding: var(--pad);
    /* center relative to cover-box */
    position: absolute;
    --offset: calc(50% - (var(--h) + var(--pad))/2);
    top: var(--offset);
    left: var(--offset);
}
.cover-box:hover > .control-icon {
    display: block;
    content: url(./ressources/icons/play.png);
}
.song.playing > .cover-box:not(:hover) > .control-icon {
    display: block;
    content: url(./ressources/icons/audio.png);
    background-color: rgba(0,0,0,.5);
    border-radius:50%;
}
.song.playing > .cover-box:hover > .control-icon {
    display: block;
    content: url(./ressources/icons/pause.png);
}
.cover-box:active > .control-icon {
    filter: brightness(60%);
}

.desc-box {
    padding: .6rem .1rem .6rem .1rem;
}

.duration, .date {
    color: silver;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 200;
}
.date {
    float: left;
    width: 50%;
}
.duration {
    float: right;
    width: 50%;
    text-align: right;
}

.name {
    clear: both;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0rem;
}


/* ###################################################################### */
/* Fonts */

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
