:root {
    font-size: 62.5%;
}

* {
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

h1 {
    color: aquamarine;
    font-size: 8rem;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h1 > span{
    background-image:
        linear-gradient(to top, white, white),
        linear-gradient(to top, black, black);
    background-repeat: no-repeat;
    background-size: 33%, 66% 90%;
    padding: .5rem 2rem .5rem 2rem;

}

#songlist {
    /* background-color: maroon; */
    margin: auto; /* centered */
    /* fixed size or viewport size if too big */
    max-width: 100%;
    width: 80rem;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.song {
    /* background-color: rgba(127,255,212,1); */
    margin-top: 3.75rem;
    padding: 3em;
    /* allow children to be positioned relative to it */
    position: relative;
    width: 24.5rem;
}

/* no margin on left and right assuming 2 elts per row */
.song:nth-child(even)
    { margin-left: 1.875rem;}
.song:nth-child(odd)
    { margin-right: 1.875rem; }
/* no margin on top and bottom row assuming 2 elts per row */
.song:nth-child(-n+2)
    { margin-top: 0rem; }
.song:nth-last-child(-n+2)
    { margin-bottom: 0rem; }
/* no margin on the right of last elt if odd nb of elts */
.song:nth-last-child(1):nth-child(odd)
    { margin-right: 0rem; }
.title {
    background-color: salmon;
    background-blend-mode: color-dodge;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 5rem;
    font-weight: bold;
    /* offset text position */
    position: absolute;
    left: 2%;
    top: 2%;
}

.artwork {
    margin: auto;
    /* set size of the img to % of container */
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

audio {
    width: 100%;
}
audio::-webkit-media-controls-panel{
  background-color: white;
}
audio::-webkit-media-controls-current-time-display{
    display: none;
}
audio::-webkit-media-controls-time-remaining-display{
  display: none;
}
