:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 30, 30);
}

#banner-box {
    position: fixed;
    top: 4rem;
    left: 2rem;
    z-index:1;
}
#title {
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 8rem;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    padding: .5rem .5rem;
}
#title:hover {
    background-color: salmon;
    color: white;
}

#song-list {
    margin-top: 20rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    padding-left: 1em;
    padding-right: 1em;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song {
    margin-bottom: 2rem;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5rem .5rem 0rem .5rem;
    width: 20rem;
    position: relative;
}
.song.active {
    outline: solid white;
}

.cover-box {
    position: relative;
    height: 20rem;
    width:20rem;
    text-align: center;
}
.cover-box:hover {
    cursor: pointer;
}

.artwork {
    height: auto;
    width:100%;
}
.cover-box:hover > .artwork {
    filter: brightness(30%);
}

.control-icon {
    background-size: contain;
    display: none;
    height: 5rem;
    width: 5rem;
    /* center relative to cover-box */
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
}
.cover-box:hover > .control-icon {
    display: block;
    content: url(./ressources/icons/play.png);
}
.song.playing > .cover-box:not(:hover) > .control-icon {
    display: block;
    content: url(./ressources/icons/audio.png);
    background-color: rgba(0,0,0,.5);
    border-radius:50%;
}
.song.playing > .cover-box:hover > .control-icon {
    display: block;
    content: url(./ressources/icons/pause.png);
}
.cover-box:active > .control-icon {
    filter: brightness(60%);
}

.desc-box {
    padding: .6rem .1rem .6rem .1rem;
}

.duration, .date {
    color: silver;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 200;
}
.date {
    float: left;
    width: 50%;
}
.duration {
    float: right;
    width: 50%;
    text-align: right;
}

.name {
    color: white;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0rem;
}

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./ressources/fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
